// Colors
$white-default: #FFFFFF;
$white-opacity-50: #FFFFFF80; 
$gray-light: #C2C9D1;
$gray-text: #808080;
$black-default: #000000;

// Primary
$primary-default: #3E66FB;

// Error
$error-light: #F03738;

// Success
$success-default: #3CC13B;

// Spacing
$spacing-xs: 8px;
$spacing-sm: 10px;

// Border radius
$radius-default: 8px;

// Input dimensions
$input-height: 40px;
$digit-input-width: 32px;
$country-selector-width: 77px;

// Typography
$font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
$font-size-default: 14px;
$font-size-small: 12px;
$line-height-default: 20px;
$font-weight-normal: 400;


@mixin text-base {
  font-family: $font-family;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
  line-height: $line-height-default;
}

@mixin text-small {
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
  line-height: $line-height-default;
}
