@use '@shared/styles/variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: visible;
  @include text-base;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;

  &__form {
    width: fit-content;
    min-width: 280px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding: 24px;
    background: $white-default;
    border-radius: $radius-default;
    border: 1px solid $gray-light;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: $black-default;
    margin: 0 0 $spacing-xs 0;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 0;
  }

  &__label {
    @include text-small;
    color: $gray-text;
  }

  &__input {
    width: 100%;
    height: $input-height;
    padding: 0 $spacing-xs;
    @include text-base;
    color: $black-default;
    background: $white-default;
    border: 1px solid $gray-light;
    border-radius: $radius-default;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: $primary-default;
    }

    &::placeholder {
      color: $gray-light;
    }
  }

  &__hint {
    @include text-small;
    color: $gray-text;
    margin-top: $spacing-xs;
  }
}
