@use '@shared/styles/variables.scss' as *;

.root {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  &__input {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
  }

  &__digitGroup {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
  }

  &__separator {
    @include text-base;
    color: $black-default;
    user-select: none;
  }
}
