@use '@shared/styles/variables.scss' as *;

.phoneInputContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.phoneInput {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.digitGroup {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.separator {
  @include text-base;
  color: $black-default;
  user-select: none;
}
