@use '@shared/styles/variables.scss' as *;

.root {
  position: absolute;
  top: calc(#{$input-height} + 10px);
  left: 0;
  width: 209px;
  height: 212px;
  background: $white-default;
  border: 1px solid $gray-light;
  border-radius: $radius-default;
  z-index: 1000;
  overflow: hidden;

  &__scrollContainer {
    height: 100%;
    overflow-y: auto;
    padding: $spacing-xs 0;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #C4C4C4;
      border-radius: 2px;

      &:hover {
        background: #b0b0b0;
      }
    }
  }
}
