@use '@shared/styles/variables.scss' as *;

.root {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  height: 32px;
  padding: 0;
  padding-left: $spacing-xs;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #3E66FB40;
  }

  &_active {
    background-color: rgba($primary-default, 0.15);
  }

  &:not(:last-child) {
    margin-bottom: $spacing-xs;
  }

  &__emoji {
    font-size: $font-size-default;
    line-height: $line-height-default;
  }

  &__prefix {
    @include text-small;
    color: $black-default;
    letter-spacing: 0;
  }

  &__name {
    @include text-small;
    color: $gray-text;
    letter-spacing: 0;
  }
}
