@use '@shared/styles/variables.scss' as *;

.countryItem {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  height: 32px;
  padding: 0;
  padding-left: $spacing-xs;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
  &:hover {
    background-color: #3E66FB40; 
  }

  &.active {
    background-color: rgba($primary-default, 0.15);
  }

  &:not(:last-child) {
    margin-bottom: $spacing-xs;
  }
}

.emoji {
  font-size: $font-size-default;
  line-height: $line-height-default;
}

.prefix {
  @include text-small;
  color: $black-default;
  letter-spacing: 0;
}

.name {
  @include text-small;
  color: $gray-text;
  letter-spacing: 0;
}
